In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
from sklearn.model_selection import train_test_split
from sklearn.metrics import balanced_accuracy_score
from sklearn.ensemble import BaggingClassifier
from sklearn.tree import DecisionTreeClassifier

In [3]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.metrics import balanced_accuracy_score

# Read the CSV and Perform Basic Data Cleaning

In [4]:
# https://help.lendingclub.com/hc/en-us/articles/215488038-What-do-the-different-Note-statuses-mean-

columns = [
    "loan_amnt", "int_rate", "installment", "home_ownership",
    "annual_inc", "verification_status", "issue_d", "loan_status",
    "pymnt_plan", "dti", "delinq_2yrs", "inq_last_6mths",
    "open_acc", "pub_rec", "revol_bal", "total_acc",
    "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt",
    "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee",
    "recoveries", "collection_recovery_fee", "last_pymnt_amnt", "next_pymnt_d",
    "collections_12_mths_ex_med", "policy_code", "application_type", "acc_now_delinq",
    "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_act_il",
    "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il",
    "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc",
    "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl",
    "inq_last_12m", "acc_open_past_24mths", "avg_cur_bal", "bc_open_to_buy",
    "bc_util", "chargeoff_within_12_mths", "delinq_amnt", "mo_sin_old_il_acct",
    "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc",
    "mths_since_recent_bc", "mths_since_recent_inq", "num_accts_ever_120_pd", "num_actv_bc_tl",
    "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl",
    "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0",
    "num_sats", "num_tl_120dpd_2m", "num_tl_30dpd", "num_tl_90g_dpd_24m",
    "num_tl_op_past_12m", "pct_tl_nvr_dlq", "percent_bc_gt_75", "pub_rec_bankruptcies",
    "tax_liens", "tot_hi_cred_lim", "total_bal_ex_mort", "total_bc_limit",
    "total_il_high_credit_limit", "hardship_flag", "debt_settlement_flag"
]

target = ["loan_status"]

In [5]:
# Load the data
file_path = Path('c:/users/Test/Module_17_Challenge/LoanStats_2019Q1.csv')
df = pd.read_csv(file_path, skiprows=1)[:-2]
df = df.loc[:, columns].copy()

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()

# Remove the `Issued` loan status
issued_mask = df['loan_status'] != 'Issued'
df = df.loc[issued_mask]

# convert interest rate to numerical
df['int_rate'] = df['int_rate'].str.replace('%', '')
df['int_rate'] = df['int_rate'].astype('float') / 100


# Convert the target column values to low_risk and high_risk based on their values
x = {'Current': 'low_risk'}   
df = df.replace(x)

x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_risk')    
df = df.replace(x)

df.reset_index(inplace=True, drop=True)

df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

# Split the Data into Training and Testing

In [6]:
# Create our features
# X = # YOUR CODE HERE
# Define features set
X = df.copy()
X = X.drop("loan_status", axis=1)
X = pd.get_dummies(X)

X.head()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,issue_d_Mar-2019,pymnt_plan_n,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
0,10500.0,0.1719,375.35,66000.0,27.24,0.0,0.0,8.0,0.0,1609.0,...,1,1,0,1,0,1,1,0,1,1
1,25000.0,0.2000,929.09,105000.0,20.23,0.0,0.0,17.0,1.0,18368.0,...,1,1,0,1,0,1,1,0,1,1
2,20000.0,0.2000,529.88,56000.0,24.26,0.0,0.0,8.0,0.0,13247.0,...,1,1,0,1,0,1,1,0,1,1
3,10000.0,0.1640,353.55,92000.0,31.44,0.0,1.0,10.0,1.0,17996.0,...,1,1,0,1,0,1,1,0,1,1
4,22000.0,0.1474,520.39,52000.0,18.76,0.0,1.0,14.0,0.0,9091.0,...,1,1,0,1,0,1,1,0,1,1

In [7]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,issue_d_Mar-2019,pymnt_plan_n,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.0,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.0,68817.0
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,0.177238,1.0,0.123879,0.876121,0.383161,0.616839,0.860340,0.139660,1.0,1.0
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,0.381873,0.0,0.329446,0.329446,0.486161,0.486161,0.346637,0.346637,0.0,0.0
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.0
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.0,1.0
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.0,1.0
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,0.000000,1.0,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.0,1.0
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0

In [9]:
# Define target vector
y = df["loan_status"] 
y[:10]

0    low_risk
1    low_risk
2    low_risk
3    low_risk
4    low_risk
5    low_risk
6    low_risk
7    low_risk
8    low_risk
9    low_risk
Name: loan_status, dtype: object

In [10]:
# Split the X and y into X_train, X_test, y_train, y_test
# YOUR CODE HERE

# Splitting into Train and Test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [11]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(51612, 95)
(17205, 95)
(51612,)
(17205,)

# Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble AdaBoost classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Print the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier onely, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [12]:
# Resample the training data with the RandomOversampler
# YOUR CODE HERE

from imblearn.ensemble import BalancedRandomForestClassifier
brf = BalancedRandomForestClassifier(n_estimators=100, random_state=1)
brf.fit(X_train, y_train)

BalancedRandomForestClassifier(random_state=1)

In [13]:
# Calculated the balanced accuracy score
# YOUR CODE HERE

y_pred = brf.predict(X_test)

balanced_accuracy_score(y_test, y_pred)

0.778784371911514

In [65]:
# Display the confusion matrix
# YOUR CODE HERE

from imblearn.ensemble import EasyEnsembleClassifier
eec = EasyEnsembleClassifier(random_state=1)
eec.fit(X_train, y_train)

EasyEnsembleClassifier(random_state=1)

In [63]:
from sklearn.datasets import make_classification

X, y = make_classification(n_classes=2, class_sep=2,
weights=[0, 1])
#n_features=20, n_clusters_per_class=1, n_samples=1000, random_state=1)

In [62]:
y_pred = eec.predict(X_test)

cm = confusion_matrix(y_test, y_pred)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

#cm_df
cm

array([[   83,     9],
       [ 1049, 16064]], dtype=int64)

In [69]:
# Print the imbalanced classification report
# YOUR CODE HERE

# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report:Balanced Random Forest Classifier")

print(classification_report_imbalanced(y_test, y_pred))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0           83            9
Actual 1         1049        16064

Accuracy Score : 0.9160843269418876
Classification Report:Balanced Random Forest Classifier
                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.06      0.90      0.93      0.12      0.92      0.84        92
   low_risk       1.00      0.93      0.90      0.96      0.92      0.84     17113

avg / total       0.99      0.93      0.90      0.96      0.92      0.84     17205

In [54]:
# We can sort the features by their importance.
sorted(zip(brf.feature_importances_, X_train.columns), reverse=True)

[(0.08232559188092942, 'total_rec_prncp'),
 (0.07514935891577482, 'total_pymnt_inv'),
 (0.05295780612873343, 'total_rec_int'),
 (0.05172193147881896, 'last_pymnt_amnt'),
 (0.050666329293744046, 'total_pymnt'),
 (0.03180336578184677, 'int_rate'),
 (0.02875447041125705, 'issue_d_Jan-2019'),
 (0.019698414607869152, 'mo_sin_old_rev_tl_op'),
 (0.01785095742507862, 'dti'),
 (0.016491603787959136, 'max_bal_bc'),
 (0.01582624735925119, 'revol_bal'),
 (0.014814688214490035, 'avg_cur_bal'),
 (0.014568061942319082, 'total_rev_hi_lim'),
 (0.014059504036431206, 'mths_since_recent_inq'),
 (0.01401471133549523, 'total_bc_limit'),
 (0.013877798057673172, 'total_bal_il'),
 (0.013859222062267466, 'out_prncp_inv'),
 (0.013598791397331165, 'bc_util'),
 (0.013429179784553854, 'mths_since_rcnt_il'),
 (0.013423121714586898, 'mo_sin_old_il_acct'),
 (0.013329292052855997, 'tot_hi_cred_lim'),
 (0.013119605427149511, 'installment'),
 (0.01310297280889863, 'annual_inc'),
 (0.012774095186915899, 'total_il_high_credit_limit'),
 (0.012708146158676319, 'bc_open_to_buy'),
 (0.012670087415701478, 'out_prncp'),
 (0.012648164928005697, 'tot_cur_bal'),
 (0.012296088404085977, 'mths_since_recent_bc'),
 (0.012150432484556913, 'loan_amnt'),
 (0.011753135989935291, 'all_util'),
 (0.01154342620625724, 'total_bal_ex_mort'),
 (0.011477462206715403, 'il_util'),
 (0.01086503242230793, 'num_sats'),
 (0.01078351792014131, 'total_acc'),
 (0.010783453471056527, 'num_il_tl'),
 (0.010392782414965093, 'num_rev_accts'),
 (0.010168430614009384, 'open_acc'),
 (0.010055252013728491, 'mo_sin_rcnt_rev_tl_op'),
 (0.00997151296328166, 'num_op_rev_tl'),
 (0.009507253026946591, 'issue_d_Mar-2019'),
 (0.009472134045472001, 'inq_last_12m'),
 (0.009162133297667076, 'num_bc_tl'),
 (0.008974580140261916, 'num_actv_rev_tl'),
 (0.008906134917752493, 'num_rev_tl_bal_gt_0'),
 (0.008876876291634592, 'num_bc_sats'),
 (0.008538331888541074, 'mo_sin_rcnt_tl'),
 (0.008412519590327443, 'inq_last_6mths'),
 (0.008148703713346347, 'acc_open_past_24mths'),
 (0.007527028977711032, 'pct_tl_nvr_dlq'),
 (0.0067595911353678815, 'inq_fi'),
 (0.0066860656521112475, 'percent_bc_gt_75'),
 (0.006507777916672652, 'mort_acc'),
 (0.006437800218706728, 'open_act_il'),
 (0.006411192135240633, 'num_tl_op_past_12m'),
 (0.006311418028098554, 'open_rv_24m'),
 (0.006147307638289385, 'total_cu_tl'),
 (0.006016367965661868, 'total_rec_late_fee'),
 (0.005755666860888511, 'open_il_24m'),
 (0.005611521917184377, 'num_actv_bc_tl'),
 (0.00552264048273079, 'issue_d_Feb-2019'),
 (0.004953731060707585, 'next_pymnt_d_May-2019'),
 (0.00477334348395085, 'delinq_2yrs'),
 (0.004608978295232611, 'open_rv_12m'),
 (0.004306148020457468, 'open_acc_6m'),
 (0.003285325270033562, 'open_il_12m'),
 (0.0029329860310244754, 'next_pymnt_d_Apr-2019'),
 (0.002761210265666638, 'verification_status_Not Verified'),
 (0.002737870372222161, 'num_accts_ever_120_pd'),
 (0.002659524498310708, 'tot_coll_amt'),
 (0.002140084002711912, 'verification_status_Source Verified'),
 (0.0021120637761766125, 'home_ownership_OWN'),
 (0.0020711968228999404, 'home_ownership_RENT'),
 (0.0017832886312427636, 'application_type_Joint App'),
 (0.0017645096622531482, 'initial_list_status_w'),
 (0.0016896128243557116, 'home_ownership_MORTGAGE'),
 (0.001637334211034774, 'verification_status_Verified'),
 (0.0015323280269712242, 'initial_list_status_f'),
 (0.001253564691235999, 'pub_rec'),
 (0.0012014862907039658, 'num_tl_90g_dpd_24m'),
 (0.0010446579491549613, 'application_type_Individual'),
 (0.0009367339210419307, 'pub_rec_bankruptcies'),
 (0.00036188756271958374, 'collections_12_mths_ex_med'),
 (0.00020453958817309053, 'home_ownership_ANY'),
 (7.050219544963025e-05, 'chargeoff_within_12_mths'),
 (0.0, 'tax_liens'),
 (0.0, 'recoveries'),
 (0.0, 'pymnt_plan_n'),
 (0.0, 'policy_code'),
 (0.0, 'num_tl_30dpd'),
 (0.0, 'num_tl_120dpd_2m'),
 (0.0, 'hardship_flag_N'),
 (0.0, 'delinq_amnt'),
 (0.0, 'debt_settlement_flag_N'),
 (0.0, 'collection_recovery_fee'),
 (0.0, 'acc_now_delinq')]

In [55]:
# To display in the same format required 

# List the features sorted in descending order by feature importance
# YOUR CODE HERE

brf_feature_importances = brf.feature_importances_

feature_list= np.argsort(brf.feature_importances_)[::-1]
for i in feature_list:
    print(X_train.columns.values[i], ":", (brf_feature_importances[i]) )

total_rec_prncp : 0.08232559188092942
total_pymnt_inv : 0.07514935891577482
total_rec_int : 0.05295780612873343
last_pymnt_amnt : 0.05172193147881896
total_pymnt : 0.050666329293744046
int_rate : 0.03180336578184677
issue_d_Jan-2019 : 0.02875447041125705
mo_sin_old_rev_tl_op : 0.019698414607869152
dti : 0.01785095742507862
max_bal_bc : 0.016491603787959136
revol_bal : 0.01582624735925119
avg_cur_bal : 0.014814688214490035
total_rev_hi_lim : 0.014568061942319082
mths_since_recent_inq : 0.014059504036431206
total_bc_limit : 0.01401471133549523
total_bal_il : 0.013877798057673172
out_prncp_inv : 0.013859222062267466
bc_util : 0.013598791397331165
mths_since_rcnt_il : 0.013429179784553854
mo_sin_old_il_acct : 0.013423121714586898
tot_hi_cred_lim : 0.013329292052855997
installment : 0.013119605427149511
annual_inc : 0.01310297280889863
total_il_high_credit_limit : 0.012774095186915899
bc_open_to_buy : 0.012708146158676319
out_prncp : 0.012670087415701478
tot_cur_bal : 0.012648164928005697
mths_since_recent_bc : 0.012296088404085977
loan_amnt : 0.012150432484556913
all_util : 0.011753135989935291
total_bal_ex_mort : 0.01154342620625724
il_util : 0.011477462206715403
num_sats : 0.01086503242230793
total_acc : 0.01078351792014131
num_il_tl : 0.010783453471056527
num_rev_accts : 0.010392782414965093
open_acc : 0.010168430614009384
mo_sin_rcnt_rev_tl_op : 0.010055252013728491
num_op_rev_tl : 0.00997151296328166
issue_d_Mar-2019 : 0.009507253026946591
inq_last_12m : 0.009472134045472001
num_bc_tl : 0.009162133297667076
num_actv_rev_tl : 0.008974580140261916
num_rev_tl_bal_gt_0 : 0.008906134917752493
num_bc_sats : 0.008876876291634592
mo_sin_rcnt_tl : 0.008538331888541074
inq_last_6mths : 0.008412519590327443
acc_open_past_24mths : 0.008148703713346347
pct_tl_nvr_dlq : 0.007527028977711032
inq_fi : 0.0067595911353678815
percent_bc_gt_75 : 0.0066860656521112475
mort_acc : 0.006507777916672652
open_act_il : 0.006437800218706728
num_tl_op_past_12m : 0.006411192135240633
open_rv_24m : 0.006311418028098554
total_cu_tl : 0.006147307638289385
total_rec_late_fee : 0.006016367965661868
open_il_24m : 0.005755666860888511
num_actv_bc_tl : 0.005611521917184377
issue_d_Feb-2019 : 0.00552264048273079
next_pymnt_d_May-2019 : 0.004953731060707585
delinq_2yrs : 0.00477334348395085
open_rv_12m : 0.004608978295232611
open_acc_6m : 0.004306148020457468
open_il_12m : 0.003285325270033562
next_pymnt_d_Apr-2019 : 0.0029329860310244754
verification_status_Not Verified : 0.002761210265666638
num_accts_ever_120_pd : 0.002737870372222161
tot_coll_amt : 0.002659524498310708
verification_status_Source Verified : 0.002140084002711912
home_ownership_OWN : 0.0021120637761766125
home_ownership_RENT : 0.0020711968228999404
application_type_Joint App : 0.0017832886312427636
initial_list_status_w : 0.0017645096622531482
home_ownership_MORTGAGE : 0.0016896128243557116
verification_status_Verified : 0.001637334211034774
initial_list_status_f : 0.0015323280269712242
pub_rec : 0.001253564691235999
num_tl_90g_dpd_24m : 0.0012014862907039658
application_type_Individual : 0.0010446579491549613
pub_rec_bankruptcies : 0.0009367339210419307
collections_12_mths_ex_med : 0.00036188756271958374
home_ownership_ANY : 0.00020453958817309053
chargeoff_within_12_mths : 7.050219544963025e-05
num_tl_30dpd : 0.0
pymnt_plan_n : 0.0
recoveries : 0.0
collection_recovery_fee : 0.0
policy_code : 0.0
acc_now_delinq : 0.0
num_tl_120dpd_2m : 0.0
tax_liens : 0.0
delinq_amnt : 0.0
hardship_flag_N : 0.0
debt_settlement_flag_N : 0.0

### Easy Ensemble AdaBoost Classifier

In [66]:
# Train the Classifier
# YOUR CODE HERE

from imblearn.ensemble import EasyEnsembleClassifier
eec = EasyEnsembleClassifier(random_state=1)

In [67]:
eec.fit(X_train, y_train) 

EasyEnsembleClassifier(...)

y_pred = eec.predict(X_test)

In [68]:
# Calculated the balanced accuracy score
# YOUR CODE HERE
# Calculated the balanced accuracy score
# YOUR CODE HERE

acc_score = balanced_accuracy_score(y_test, y_pred)

acc_score

0.9160843269418876

In [60]:
# Display the confusion matrix
# YOUR CODE HERE

y_pred = eec.predict(X_test)

cm = confusion_matrix(y_test, y_pred)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

#cm_df
cm

array([[   83,     9],
       [ 1049, 16064]], dtype=int64)

In [61]:
# Print the imbalanced classification report
# YOUR CODE HERE


# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report:Easy Ensemble AdaBoost Classifier")

print(classification_report_imbalanced(y_test, y_pred))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0           83            9
Actual 1         1049        16064

Accuracy Score : 0.9204377424739392
Classification Report:Easy Ensemble AdaBoost Classifier
                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.07      0.90      0.94      0.14      0.92      0.84        92
   low_risk       1.00      0.94      0.90      0.97      0.92      0.85     17113

avg / total       0.99      0.94      0.90      0.96      0.92      0.85     17205